*{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .main{
            padding: 30px;
            height: 800px;
            width: 100%;
            background-image: url(download.jpeg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: relative;
        }
        .navbar{
            display: flex;
            height: 80px;
            padding: 0px 100px;
            align-items: center;
            /* background-color: rgba(0,0,0,0.5); */
            justify-content: space-between;
        }
        .navbar .logo{
            padding: 0;
            font-size: 2em;
            font-weight: bolder;
            color:rgb(255, 136, 0);
        }
        .navbar ul{
            display: flex;
        }
        .navbar ul li{
            list-style: none;
            padding: 0px 40px;
            color: white;
        }
        .navbar ul li a{
            list-style: none;
            text-decoration: none; 
        }
        .search{
            color: white;
            border: 1px solid rgb(255, 136, 0);
            font-size: 1em;
            align-content: center;
            height: 30px;
        }
        .search #search1{
            background-color: transparent;
            border: none;
        }
        .search #search2{
            background-color: rgb(255, 136, 0);
        }
        /* Style all font awesome icons */
            .fa {
                display: flex;
                padding: 20px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
                background-color: transparent;
                color: white;
            }
            .content{
                display: flex;
                justify-content:space-between;
                margin: 5%;
                line-height: 50px;
            }
            .form{
                width: 350px;
                text-align: center;
                height: 400px;
                border: 2px solid black;
                padding: 10px;
                background-color: black;
                color: white;
                border-radius: 10px;
                opacity: 0.6;
                line-height: 30px;
            }
            .content .section h3{
                font-size: 3em;
            }
            #password{
                color: white;
                border: none;
                border-bottom: 5px solid rgb(255, 136, 0);
            }
            #login-here{
                width: 200px;
                height: 30px;
                border-radius: 10px;
                color: rgb(255, 136, 0);
                font-size: 1em;
                border: none;
            }
            #email{
                border: none;
                border-bottom: 5px solid rgb(255, 136, 0);
                
              
            }
            
            #login{
                width: 200px;
                height: 30px;
                border-radius: 10px;
                background-color: rgb(255, 136, 0);
                color: black;
                font-size: 1em;
                border: none;
            }
            .section p{
                line-height: 30px;
                font-size: 1.2em;
                color: white;
                line-height: 30px;
            }
            .section button{
                background-color: rgb(255, 136, 0);
                color: black;
                border-radius: 10px;
                height: 40px;
                width: 200px;
                font-size: 1em;
                border: none;
            }
            .form input{
                background-color: transparent;
                padding: 10px 20px;
                border: none;
                border-bottom: 3px solid orangered;
            }
            .form input::placeholder{
                color: white;
            }