 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .main{
            margin: 20px;
            /* padding: 20px; */
            /* border: 10px solid blue; */
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(3,1fr);
            /* gap: 20px; */
            text-align: center;
            font-size: 3em;
            justify-content: center;
            align-content: center;
        }
        .card{
            border: 5px solid rgb(42, 43, 43);
        }
        #card-1{
            background-color: orangered;
        }
        #card-2{
            background-color: rgb(255, 132, 0);
        }
        #card-3{
            background-color: rgb(239, 187, 90);
        }
        #card-4{
            background-color: rgb(54, 121, 98);
        }
        #card-5{
            background-color: rgb(40, 213, 156);
        }
        #card-6{
            background-color:rgb(179, 247, 224)
        }

        .second{
            margin: 20px;
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(3,1fr);
            text-align: center;
            font-size: 3em;
            justify-content: center;
            align-content: center;
        }
        #card-21{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        #card-23{
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .card2{
            border: 5px solid rgb(42, 43, 43);
        }
        #card-21{
            background-color: orangered;
        }
        #card-23{
            background-color: rgb(239, 187, 90);
        }
        #card-24{
            background-color: rgb(54, 121, 98);
        }
        #card-25{
            background-color: rgb(40, 213, 156);
        }
        #card-26{
            background-color:rgb(179, 247, 224)
        }

        .third{
            margin: 20px;
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(2,1fr);
            text-align: center;
            font-size: 3em;
            justify-content: center;
            align-content: center;
        }
        #card-31{
            grid-row: 1 /2;
            grid-column: 1 / 3;
        }
        #card-33{
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
        #card-34{
            grid-row: 3 / 3;
            grid-column: 1 / 3;
        }
        .card3{
            border: 5px solid rgb(42, 43, 43);
        }
        #card-31{
            background-color:  rgb(239, 187, 90);
        }
        #card-32{
            background-color: rgb(54, 121, 98);
        }
        #card-33{
            background-color: orangered;
        }
        #card-34{
            background-color: rgb(40, 213, 156);
        }