*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
.main{
    padding: 50px 120px;
    
}
/* =============================================HEADER========================================== */
.Header{
    height: 200px;
    width: 100%;
    background-image: radial-gradient(black, rgb(51, 48, 48), black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.head-name{
    color: white;
    font-weight: 300;
    font-size:3em ;
}
#small-head{
    font-size: 0.5em;
    font-weight: 300;
}
/* ===============================================MENU========================================= */
.nav-items{
    line-height: 30px;
    color: white;
}
.nav-social{
    margin-left: 600px;
}
.nav-social i{
    font-size: 1em;
    padding: 20px;
}
.nav-list{
    display: flex;
}
.nav-list a{
    margin: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
/* ==================================================IMAGE====================================== */
.hero-img{
    margin: 0px 200px;
    background-image: url(place-flying-sunset-sky_1112-1132.avif);
    background-blend-mode:soft-light;
    background-color: rgba(4, 62, 63, 0.3);
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 700px;
    /* width: 100%; */
    background-size: 100% 100%; 
}
.hero-content{
    padding: 100px 80px;
    color: white;
}
.hero-head h2{
    font-size: 4em;
    font-weight: 800;
}
.hero-head h3{
    font-size: 3.5em;
    font-weight: 400;
    padding-left: 80px;
}
.hero-para{
    padding-top: 200px;
    font-size: 1.2em;
}
.order-btn{
    padding: 130px 50px;
}
.order-btn button{
    padding: 20px 30px;
    font-size: 1em;
    background-color: rgba(15, 14, 14, 0.9);
    color: white;
}