*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    font-weight: 400;
}
.main{
    padding: 0px 200px;
    
}
/* =============================================HEADER========================================== */
.Header{
    height: 150px;
    width: 100%;
    background-image: radial-gradient(black, rgb(51, 48, 48), black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.italic-font{
    font-style: italic;
}
.head-name{
    color: white;
    font-weight: 300;
    font-size:3em ;
}
#small-head{
    font-size: 0.5em;
    font-weight: 300;
}
/* ===============================================MENU========================================= */
.nav-items{
    line-height: 30px;
    color: white;
}
.nav-social{
    margin-left: 600px;
}
.nav-social i{
    font-size: 1em;
    padding: 20px;
}
.nav-list{
    display: flex;
}
.nav-list a{
    margin: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
/* ==================================================IMAGE====================================== */
.hero-img{
    margin: 0px 200px;
    background-image: url(place-flying-sunset-sky_1112-1132.avif);
    background-blend-mode:soft-light;
    background-color: rgba(4, 62, 63,0.2);
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 700px;
    /* width: 100%; */
    background-size: 100% 100%; 
}
.hero-content{
    padding: 100px 80px;
    color: white;
}
.hero-head h2{
    font-size: 4em;
    font-weight: 800;
}
.hero-head h3{
    font-size: 3.5em;
    font-weight: 400;
    padding-left: 80px;
}
.hero-para{
    padding-top: 200px;
    font-size: 1.2em;
}
.order-btn{
    padding: 130px 50px;
}
.order-btn button{
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: rgba(15, 14, 14, 0.9);
    color: white;
}

/* ===========================================================CONTENT=========================================================== */
.content{
    height: 800px;
    margin: 0px 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.client-form{
    background-color:rgb(248, 248, 239);
    text-align: left;
    padding: 50px;
    margin-bottom: 100px;
}
.client-form h3{
    margin: 40px 0px;
    font-size: 2.5em;
    font-weight: 600;
}
.type-radio{
    font-size: 1.5em;
    font-weight: 200;
    margin: 30px 0px;
}
.type-radio input{
    margin: 10px 20px;
}

.type-text{
    font-size: 1.5em;
}
.type-text input{
    /* width: 100%; */
    padding: 10px 20px;
}
.type-text input::placeholder{
    font-size: 1.5em;
}
#from-place{
    width: 100%;
}
#to-place{
    width: 100%;
}
.date-time input{
    width: 49%;
}
#go-btn{
    background: linear-gradient(#6bbad8, #3a8fb7);
    width: 100px;
    font-size: 1em;
    color: white;
    margin: 0px 20px;
    border-radius: 5px;
    border: none;
}
.news-div h3{
    margin: 40px 10px;
    font-size: 2.5em;
    font-weight: 600;
}
.news-div h4{
    color: rgb(27, 148, 188);
    font-size: 20px;
}
.news-div p{
    font-size: 25px;
}
.line{
    width: 100%;
    height: 3px;
    background-color:   rgba(171, 171, 191, 0.3);
    margin:20px 0px;
}
/* =========================================================ABOUT DIV ============================================================= */

.about-div{
    grid-column: span 2;
    margin: 0px 80px;
}
.about-div h3{
    margin: 40px 0px;
    font-size: 2.5em;
    font-weight: 600;
}
.about-para p {
    color: rgb(27, 148, 188);
    font-size: 25px;
    margin: 30px 0px;
}
.section-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.section-content{
  max-width: 600px;
}

.section-content h3{
  color: #333;
  font-size: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.dot{
  width: 10px;
  height: 10px;
  background: #4aa3c7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.section-content p{
  font-size: 20px;
  line-height: 1.6;
}

.action{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn{
  padding: 10px 18px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}

.btn.dark {
  background: linear-gradient(#555, #333);
}

.btn.blue {
  background: linear-gradient(#6bbad8, #3a8fb7);
}

.our-clients{
    display: grid;
    gap: 50px;
    padding: 50px;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2);
}