.contact-details{
    background-color: aqua;
    height: 200px;
    width: 500px;
    font-size: 2em;
}
#name{
    color: blue ;
}
#email{
    color: brown;
}
input{
    padding: 10px;
    margin: 10px;
}
legend{
    font-size: 4em;
}
button{
    padding: 10px 30px;
}
button:hover{
    background-color: red;
}