*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}
.product-grid{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border: 5px solid black;
}
.card{
    border: 5px solid blue;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
.card img{
    width: 50%;
    height: 220px;
    border-radius: 6px;
}
.price{
    color: rgb(76, 175, 80);
    font-weight: bold;
    margin-top: 10px;
}
.card:hover {
    transform: translateY(-8px);
    background-color: antiquewhite;
}
