*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.card{
    width: 400px;
    margin: 300px 800px;
    padding: 50px;
    border: 5px solid rgb(174, 174, 174);
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
}
.profile-img{
    width: 200px;
    height: 200px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    margin-bottom: 30px;
    box-sizing: content-box;
}
.name{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.bio{
    font-size: 1.2em;
    color: rgb(85, 85, 85);
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 20px;
    box-sizing: content-box;
    border-radius: 10px;
}
.follow-btn{
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    box-sizing: border-box;
}
.follow-btn:hover{
    background-color: white;
    color: #4CAF50;
}