/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header {
  background-color: rgb(76, 175, 80);
  color: white;
  padding: 30px;
  text-align: center;
}
.container {
  flex: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: stretch;        
}
.sidebar {
  background-color: rgb(244, 244, 244);
  width: 300px;
  padding: 30px;
}
.content {
  background-color: rgb(221, 221, 221);
  flex: 1;
  padding: 30px;
  
}
.footer {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 30px;
  text-align: center;
}