*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    font-weight: 400;
}
/* ==================hero-img================================== */
.hero-img{
    position: relative;
    background-image: url(place-flying-sunset-sky_1112-1132.avif);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-blend-mode:soft-light;
    background-color: rgba(4, 62, 63,0.2);
}
/* =====================navbar=============================== */
.navbar{
    position: absolute;
    margin-top: 30px;
    height: 150px;
    width: 100%;
    background-image: radial-gradient(black, rgba(51, 48, 48,0.9), black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.nav-logo{
    color: white;
    font-weight: 300;
    font-size: 3em;
}
#small-head{
    font-size: 0.5em;
    font-weight: 300;
}
.italic-font{
    font-style: italic;
}
/* ==============================nav-items======================= */
.nav-items{
    line-height: 30px;
    color: white;
}
.nav-social{
    margin-left: 600px;
}
.nav-social i{
    font-size: 1em;
    padding: 20px;
}
.nav-list{
    display: flex;
}
.nav-list a{
    margin: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
.hero-content{
    position: absolute;
    margin: 400px 200px;
    color: white;
}
.hero-head h2{
    font-size: 6em;
    font-weight: 800;
}
.hero-head h3{
    font-size: 4em;
    font-weight: 400;
    padding-left: 100px;
}
.hero-para{
    padding-top: 350px;
    font-size: 1.4em;
}
/* .order-btn{
    position: absolute;
    top: 100;
    left:50;
}
.order-btn button{
    
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: rgba(15, 14, 14, 0.9);
    color: white;
} */
 /* ===========================================================CONTENT=========================================================== */
.content{
    height: 800px;
    margin: 100px 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.client-form{
    background-color:rgb(248, 248, 239);
    text-align: left;
    padding: 50px;
    margin-bottom: 100px;
}
.client-form h3{
    margin: 40px 0px;
    font-size: 2.5em;
    font-weight: 600;
}
.type-radio{
    font-size: 1.5em;
    font-weight: 200;
    margin: 30px 0px;
}
.type-radio input{
    margin: 10px 20px;
}

.type-text{
    font-size: 1.5em;
}
.type-text input{
    /* width: 100%; */
    padding: 10px 20px;
}
.type-text input::placeholder{
    font-size: 1.5em;
}
#from-place{
    width: 100%;
}
#to-place{
    width: 100%;
}
.date-time input{
    width: 49%;
}
#go-btn{
    background: linear-gradient(#6bbad8, #3a8fb7);
    width: 100px;
    font-size: 1em;
    color: white;
    margin: 0px 20px;
    border-radius: 5px;
    border: none;
}
.news-div h3{
    margin: 40px 10px;
    font-size: 2.5em;
    font-weight: 600;
}
.news-div h4{
    color: rgb(27, 148, 188);
    font-size: 20px;
}
.news-div p{
    font-size: 25px;
}
.line{
    width: 100%;
    height: 3px;
    background-color:   rgba(171, 171, 191, 0.3);
    margin:20px 0px;
}