*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    padding: 30px;
    height: 30px;
    background-color: rgb(0, 0, 28);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    gap: 20px;
    letter-spacing: 1px;
}
.head-info{
    margin: 50px;
}
.head-social{
    margin: 50px;
}
.head-info i{
    margin: 10px;
}
.head-social i{
    margin: 5px;
}