*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* .main{
    background-image: url(Images/bg-image.jpg);
} */
/* ======================================================= header =========================================================== */
.header{
    width: 100%;
    padding: 30px;
    height: 20px;
    background-color: rgb(0, 0, 28);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    gap: 20px;
    letter-spacing: 1px;
}
.head-info{
    margin: 50px;
}
.head-social{
    margin: 50px;
}
.head-info i{
    margin: 10px;
}
.head-social i{
    margin: 5px;
}
/* ======================================================== Navbar ======================================================= */
.navbar{
    /* border: 2px solid black; */
    padding: 60px;
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-logo{
    font-size: 50px;
    color: rgb(40, 120, 235);
    font-weight:700;  
}
.nav-items{
    font-weight: 900px;
}
.nav-items ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.nav-items a{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.nav-button button{
    padding: 10px 30px;
    font-size: 1.5em;
    background-color: rgb(40, 120, 235);
    color: white;
    border: none;
}
/* =================================================== Hero Div ========================================================== */
.hero-div{
    /* background-image: url(Images/istockphoto-1138904508-612x612.jpg); */
    background-image: linear-gradient(rgba(40, 120, 235,0.9), rgba(40, 120, 235,0.9)), url("Images/header.jpg"); 
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -90px;
}
.hero-div2{
    background-image: url(Images/overlay-bottom.png);
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* ====================================================== Hero-content =================================================== */
.hero-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    align-items: center;
    line-height: 150px;
}
.hero-para p{
    font-size: 3em;
    font-weight: 600;
}
.hero-head h2{
    font-size: 8em;
    font-weight:700;
}
.hero-textbox{
    padding: 20px 50px;
    font-size: 1.2em;
}
.hero-textbox select{
    color: gray;
    width: 200px;
}
.hero-textbox button{
    background-color: rgb(235, 82, 79);
    color: white;
    border: none;
}

/* ================================================ about ================================================================ */
.about{
    margin:200px;
    display: flex;
}
.about img{
    height: 700px;
    width: 600px;
}
.about-info{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 50px;
    padding: 0px 50px;
}
.about-head{
    padding: 10px;
    font-size: 1.3em;
    color: red;
    border-bottom: dashed red;
    width: 15%;
}
.about-choice{ 
    font-size: 4em;
    font-weight: 700;
}
.about-para{
    /* padding: 10px 0px; */
    color: gray;
    font-size: 1.3em;
    letter-spacing: 2px;
}
.about-grid{
    display: flex;
}
.about-grid h4{
    font-size: 3em;
    color: white;
    text-align: center;
}
.about-grid p{
    font-size: 1.5em;
    color: white;
    text-align: center;
    line-height: 30px;
}

.about .div1{
    height: 200px;
    width: 200px;
    padding: 30px;
    background-color: rgb(4, 177, 4);
}
.about .div2{
    height: 200px;
    width: 200px;
    padding: 30px;
   background-color: rgb(40, 120, 235);
}
.about .div3{
    height: 200px;
    width: 200px;
    padding: 30px;
    background-color: rgb(245, 91, 91);
}
.about .div4{
    height: 200px;
    width: 200px;
    padding: 30px;
    background-color: rgb(252, 213, 38);
}
/* =================================================== Why you choose us ======================================================= */
.why-choose{
    display: flex;
    margin: 200px;
}
.why-choose-info{
    margin-left: 100px;
}
.why-choose-label{
    padding: 10px;
    font-size: 1.3em;
    color: red;
    border-bottom: dashed red;
    width: 30%;
    text-transform: uppercase;
}
.why-choose-head h3{
    font-size: 4em;
    font-weight: 700;
    margin: 20px 0px;
}
.why-choose-para p{
    color: gray;
    font-size: 1.3em;
    letter-spacing: 2px;
    margin: 20px 10px;
}
.why-choose-div{
    display: flex;
    flex-direction: column;
    /* margin: 50px; */
}
.icon-div{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}
.head-para-div{
    display: flex;
    flex-direction: column;
}
.para-div1{
    display: flex;
    padding: 50px;
    gap: 50px;
}
.head-para-div h3{
    font-size: 2em;
}
.head-para-div p{
    margin: 10px 0px;
    font-size: 1.3em;
    color: gray;
}
#icon-1{
    background-color: rgb(40, 120, 235);
}
#icon-2{
    background-color: rgb(245, 91, 91);
}
#icon-3{
    background-color: rgb(252, 213, 38);
}
.our-course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-course-head h4{
    margin: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: red;
    border-bottom: dashed red;
    line-height: 40px;
}
.about-course-para p{
    font-size: 5em;
    margin: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 100px;
}
/* <!-- ===================================== courses with images ======================================================--> */
.course-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 700px;
}
.course-name{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 1, 1, 0.3);
    background-blend-mode:darken;
    margin-bottom: 100px;
}
#course-name1{
    background-image: url(Images/courses-1.jpg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-out;
}
#course-name1:hover{
    transform: translateY(-60px);
}
#course-name2{
    background-image: url(Images/courses-2.jpg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-out;
}
#course-name2:hover{
    transform: translateY(-60px);
}
#course-name3{
    background-image: url(Images/courses-3.jpg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-out;
}
#course-name3:hover{
    transform: translateY(-60px);
}
#course-name4{
    background-image: url(Images/courses-4.jpg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-out;
}
#course-name4:hover{
    transform: translateY(-60px);
}
.course-head h4{
    padding-top: 400px;
    padding-bottom:20px ;
    text-align: center;
    font-size: 2em;
    border-bottom: 3px solid white ;
}
.course-detail{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}
.course-detail{
    display: flex;
    margin:40px 20px;
}
/* ===================================== student form =================================================================== */
.student-form{
    padding: 50px 90px;
    margin: 200px 500px;
    height: 400px;
    width: 50%;
    background-color: rgb(255, 250, 245);
}
.student-form h4{
    text-align: center;
    font-size: 3.8em;
    padding: 20px 0px;
}
.form-button #Name{
    height: 80px;
    width: 400px;
    text-align: center;
}
#Name::placeholder{
    font-size: 1.5em;
}
.form-button #email{
    height: 80px;
    width: 400px;
    text-align: center;
}
#email::placeholder{
    font-size: 1.5em;
}
#select-course{
    height: 80px;
    width: 400px;
    text-align: center;
    font-size: 1.5em;
}

.form-button #signup-btn{
    height: 80px;
    width: 400px;
    text-align: center;
    background-color: rgb(40, 120, 235);
    color: white;
    font-size: 1.5em;
}
/* =============================================== instructors ===================================================== */
.instructors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 200px;
}
.instrouctor-label h4{
    font-size: 1.5em;
    color: red;
    border-bottom:dashed red;
    /* width: 50%; */
    text-align: center;
    text-transform: uppercase;
}
.instrouctor-head h3{
    font-size: 5em;
    font-weight: 700;
    margin: 20px 0px;
}
/* ====================================================== instructors ======================================================*/
.team-instructor{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin: 200px 320px;
}
.instructors-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    margin-left: -50px;
    margin-top: -170px;
}
.instructors-data h3{
    /* margin: 10px; */
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
.instructors-data p{
    /* margin: 10px; */
    font-size: 1.5em;
    color: gray;
    letter-spacing: 2px;
    text-align: center;
}
.instrouctor-social{
    color: rgb(40, 120, 235);
    letter-spacing: 4px;
}
#instrouctor-img1{
    background-image: url(Images/team-1.jpg);
    background-color: rgb(238, 241, 255);
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
}
#left-btn{
    padding: 20px;
    background-color: rgb(40, 120, 235);
    font-size: 2em;
    color: white;
    margin-left: -40px;
    margin-top: 250px;
    border: none;
}
#instrouctor-img2{
    background-image: url(Images/team-2.jpg);
    background-color: rgb(238, 241, 255);
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
}
#instrouctor-img3{
    background-image: url(Images/team-3.jpg);
    background-color: rgb(238, 241, 255);
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
}
#right-btn{
    padding: 20px;
    background-color: rgb(40, 120, 235);
    font-size: 2em;
    color: white;
    margin-left: 360px;
    margin-top: 250px;
    border: none;
}
#right-btn:hover{
    background-color: rgb(205, 40, 40);
}
#left-btn:hover{
    background-color: rgb(205, 40, 40);
}
/* ==================================================Testimonial====================================================== */
.Testimonial{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 800px;
    width: 100%;
    /* padding: 100px 200px;
    margin: 200px 0px; */
    
}
.Testimonial-info{
    padding:100px 150px;
}
.Testimonial-label h4{
    padding: 10px;
    font-size: 1.3em;
    color: red;
    border-bottom: dashed red;
    width: 30%;
    text-transform: uppercase;
}
.Testimonial h3{
    font-size: 4em;
    font-weight: 700;
    margin: 50px 0px;
}
.Testimonial-para p{
    color: gray;
    font-size: 1.3em;
    letter-spacing: 2px;
    /* margin: 20px 10px; */
}
.Testimonial-student{
    background-color: rgb(216, 238, 238);
    height: 600px;
    margin:50px 0px;
    
}
.Testimonial-btn{
    
}
.Testimonial-btn #student1-btn1{
    padding: 20px;
    background-color: rgb(40, 120, 235);
    color: white;
    font-size: 2em;
}
.Testimonial-btn #student1-btn2{
    padding: 20px;
    background-color: rgb(40, 120, 235);
    color: white;
    font-size: 2em;
}
.double-qoute{
    color: rgb(40, 120, 235);
    font-size: 4em;
    padding: 30px;
}
.student-para{
    color: gray;
    font-size: 1.3em;
    letter-spacing: 2px;
    padding: 30px;
}
.student-img{
    height: 200px;
    width: 200px;
    padding: 30px;
    display: flex;
}
.student-img h4{
    font-size: 2em;
}
.student-img p{
    font-size: 1.5em;
    
}
/* ===================================================================== Help Form ========================================================================= */

.help-div{
    margin: 100px;
    display: flex;
    justify-content: space-around;
}
.help-address{
    height: 600px;
    width: 700px;
    background-color: rgb(241, 241, 249);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 100px 100px;
    gap: 50px;
}
.help-info{
    display: flex;
    flex-direction: column;
}
.location{
    display: flex;
}
.call{
    display: flex;
}
.email{
    display: flex;
}
.help-social i{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    margin: 0px 20px;
}
#help-icon-1{
    background-color: rgb(40, 120, 235);
}
#help-icon-2{
    background-color: rgb(245, 91, 91);
}
#help-icon-3{
    background-color: rgb(252, 213, 38);
}
.help-info h3{
    font-size: 2em;
    margin-top: 10px;
}
.help-info p{
    margin: 10px 0px;
    font-size: 1.3em;
    color: gray;
}
.help-form{
    display: flex;
    flex-direction: column;
}
.help-label h4{
    padding: 10px;
    font-size: 1.3em;
    color: red;
    border-bottom: dashed red;
    width: 30%;
    text-transform: uppercase;
}
.help-head h3{
    font-size: 4em;
    font-weight: 700;
    margin: 20px 0px;
}
.form-info input,textarea,button{
    margin: 10px 20px;
    padding:20px 50px;
    font-size: 1.5em;
}
#form-name,#form-email{
    border: none;
    border-bottom: 1px solid gray;
    width: 450px;
}
#form-subject{
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}
#text-area{
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 150px;
}
#msg-btn{
    background-color: rgb(40, 120, 235);
    color: white;
}
/* ==========================================================footer============================================================== */
.hero-footer1{
    background-image: url(Images/overlay-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    /* margin-top: 300px; */
}
.hero-footer2{
    background: linear-gradient(rgba(3, 3, 56, 0.996),rgba(3, 3, 56, 0.996),rgba(3, 3, 56, 0.996));
    background-size: cover;
    height: 500px;
    width: 100%;
}