*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 40px;
}
/* .main{
    height: 600px;
    width: 80%;
    border: 10px solid black;
    margin-left: 200px;
    margin-top: 150px;
    
} */
.navbar{
    background-color: rgb(2, 47, 75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 50px;
}
.nav-items{
    display: flex;
    gap: 50px;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    font-size: 30px;
}
.content{
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.column{
    background-color: rgb(194, 211, 211);
    padding: 20px;
    border-radius: 10px;
}
.column h2{
    text-align: center;
    padding: 20px;
}
.column p{
    padding: 20px;
}
.footer{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}
