@media (max-width: 768px) {
    .blog-post {
        padding: 25px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.5em;
    }
}