@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 30px;
    }
    .nav-items{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .content{
        flex-direction: column;
        padding: 20px;
    }
    .column{
        padding: 20px;
    }
    .nav-items a {
        font-size: 20px;
    }
    .footer{
        margin-bottom: 100px;
    }
}