@media screen and (max-width:992px){
        .nav-items{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 30%;
        }
    }
@media screen and (max-width:768px){
        .nav-items{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 50%;
        }
    }
@media screen and (max-width:576px){
        .nav-items{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 100%;
        }
    }