*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    list-style: none;
}
.main{
    height: 100vh;
    width: 100%;
}
.hero-div{
    height: 65vh;
    width: 100%;
    background-image: url(Images/slider-img\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.hero-div h1{
    color: white;
    font-size: 3em;
    font-weight:900;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.hero-btn{
    display: flex;
    justify-content: space-between;
}
.hero-btn button{
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    border-radius: 50%;
    color: white;
    font-size: 2em;
}
.hero-btn #btn-1{
    margin: 200px -60px;
}
.hero-btn #btn-2{
    margin: 200px -50px;
}
#btn-1 i{
    padding-left: 30px;
}
#btn-2 i{
    padding-right: 30px;
}
.navbar{
    background-color:rgba(0,0,0,0.9);
    border-radius: 10px;
    padding: 30px 60px;
    margin: 80px 250px;
    color: white;
    font-size: 1.4em;
}
.nav-items{
    display: flex;
    justify-content: space-evenly;
}
.fruit-shop{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fruit-shop h3{
    font-size: 3.8em;
    font-weight: 900;
}
.fruit-shop p{
    font-size: 1.6em;
    font-weight: lighter;
}
.fruit-shop img{
    height: 700px;
    width: 800px;
}
.btn{
    background-color: rgba(0,0,0,0.8);
    padding: 20px 60px;
    margin-bottom: 200px;
    color: white;
    font-size: 1.3em;
}
.about-fruitshop{
    display: flex;
}